/*Main body of entire page*/
  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
/*Nav bar test*/
  .navbar {
      background-color: #060303;
      font-size: 12px !important;
      line-height: 1.42857143 !important;/*The !important rule is used for overriding the previously assigned CSS declarations.*/
      letter-spacing:3px;
      font-family: Montserrat, sans-serif;
  }

/*Setting the default color on the Nav bar to white**/
  .navbar li a, .navbar .navbar-brand {
      color: #ffffff !important;
  }
  .navbar-nav li a:hover,.navbar-nav li.active a {
      color: red !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }


/*Any element with the h3 or h4  tag will invoke these default propties and value*/
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }

/**Fixed h4 tag*/
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  

/*Testing jumbotron works*/
  .jumbotron {
     /* background-color: #722f37;*/
      color: #ffffff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }



div .TestCon{
margin: auto;
 /* width: 50%;*/
 /* border: 3px solid red;*/
text-align: center;
/*margin-top: 20%;*/
/*margin-bottom: 26%;*/
   
}



/**Will call later on*/
/***Colors**/


/*Any element with the bg-gre tag will invoke these default propties and value*/
  .bg-grey {
      background-color: #f6f6f6;
  }



/*Any element with thelogo  tag will invoke these default propties and value*/
  .logo-small {
      color: #722f37;
      font-size: 50px;
  }
  .logo {
      color: #722f37;
      font-size: 200px;
  }




/*Thumbnail used for the projects*/
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;

  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 11px;
  }

/*
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
*/

/*Any element with the item tag and h4 will invoke these default propties*/
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }

/*Any element with the item tag and span will invoke these default propties*/
  .item span {
      font-style: normal;
  }

/*For the panel used to conatain course year infomation*/
  .panel {
      border: 1px solid #722f37; 
      transition: box-shadow 0.5s;
  }

/*The small hover shadow of the box when you hover over it*/
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }


/*The pannel footer hover */
  .panel-footer .btn:hover {
      border: 1px solid #722f37;
      background-color: #ffffff ;
      color: #722f37;
  }




/*
  .panel-footer .btn:hover {
      border: 1px solid #722f37;
      background-color: #fff 
      color: #722f37;
  }
*/

/*The heading text*/
  .panel-heading {
      color: #ffffff !important;/*The !important rule is used for overriding the previously assigned CSS declarations.*/
      background-color: #722f37 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
  }

/***FOOTER STUFF *******/
  .panel-footer {
      background-color: white !important;/*The !important rule is used for overriding the previously assigned CSS declarations.*/
  }
/*Any element with the item tag panel-footer h3 or h4 will invoke these default propties*/
  .panel-footer h3 {
      font-size: 32px;
  }

/*Any element with the item tag panel-footer h3 or h4 will invoke these default propties*/
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }

/*Any element with the item tag panel-footer btn will invoke these default propties*/
  .panel-footer .btn {
      margin: 15px;
      background-color: #722f37;
      color: #ffffff;
  }




  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #722f37;
  }



/**Ease transition aquired from w3schools see readme File*/

  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }



  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
